.staticColumn(style="background-color:#F0F0F0; width: 185px; display:inline-block")
	include mapModal
	#leftColumn
		p.header(style="margin-top:0") Browse
		form(action="/search" method="GET")
			select.refineItem(for="Language" name="language")
				option(value="") Language
				-if(typeof languageData !== 'undefined')
					-for(var i = 0; i < languageData.length; i++)
						option(value=[languageData[i]])=languageData[i]
			//- p.columnItem(style="display:inline") language
			select.refineItem(for="Location" name="location")
				option(value="") Country
				each country in countryData
					option(value=country) #{country}
			//- p.columnItem(style="display:inline") location
			select.refineItem(for="Genre" name="genre")
				option(value="") Genre
				option(value="Worship") Worship
				option(value="Folk") Folk
				option(value="Gospel") Gospel
			//- p.columnItem(style="display:inline") genre
			select.refineItem(for="ArtForm" name="artForm")
				option(value="") Art Form
				option(value="Drama") Drama
				option(value="Visual Arts") Visual Arts
				option(value="Dance") Dance
				option(value="Music") Music
				option(value="Film") Film
				option(value="Poetry") Poetry
				option(value="Other") Other
			//- p.columnItem(style="display:inline") art form
			input(type="submit" value="submit")
		
		.mapLink(type="button" data-toggle="modal" data-target="#myModal")
			p.header.map Map
			.mapAreaColumn(style="width:150px; height:97.5px;")
				include mapWidgetColumn
		p.header.collections My Collections
		p.columnItem Righteous Tunes
		p.columnItem Turkish Worship
		p.columnItem Indian Christian
		p.columnItem Radical Sermons
		p.columnItem Mad Percussion