.modal.fade#licenseModal(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content.license
      .modal-header
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h5(class="modal-title" id="exampleModalLabel") License Options
      .modal-body
        h4 Attribution
        h5 CC BY
        p This license lets others distribute, remix, tweak, and build upon your work, even commercially, as long as they credit you for the original creation. This is the most accommodating of licenses offered. Recommended for maximum dissemination and use of licensed materials.

        h4 Attribution-ShareAlike
        h5 CC BY-SA
        p This license lets others remix, tweak, and build upon your work even for commercial purposes, as long as they credit you and license their new creations under the identical terms. This license is often compared to “copyleft” free and open source software licenses. All new works based on yours will carry the same license, so any derivatives will also allow commercial use. This is the license used by Wikipedia, and is recommended for materials that would benefit from incorporating content from Wikipedia and similarly licensed projects.

        h4 Attribution-NoDerivs
        h5 CC BY-ND
        p This license allows for redistribution, commercial and non-commercial, as long as it is passed along unchanged and in whole, with credit to you.

        h4 Attribution-NonCommercial
        h5 CC BY-NC
        p This license lets others remix, tweak, and build upon your work non-commercially, and although their new works must also acknowledge you and be non-commercial, they don’t have to license their derivative works on the same terms.

        h4 Attribution-NonCommercial-ShareAlike
        h5 CC BY-NC-SA
        p This license lets others remix, tweak, and build upon your work non-commercially, as long as they credit you and license their new creations under the identical terms.

        h4 Attribution-NonCommercial-NoDerivs
        h5 CC BY-NC-ND
        p This license is the most restrictive of our six main licenses, only allowing others to download your works and share them with others as long as they credit you, but they can’t change them in any way or use them commercially.