button(type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal")
  Launch Login

.modal.fade#loginModal(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content.login
      .modal-header
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h5(class="modal-title" id="exampleModalLabel") Login
      .modal-body
        form(action="/login" method="post")
          input(type="text" placeholder="Email" name="email")
          input(type="password" placeholder="Password" name="password" style="margin-bottom: 10px;")
          button(type="submit" class="btn btn-primary" id="submitLogin" value="Log In") Enter
        a(href="#") Forgot your password?
        p Don't have an account? Click <a class="register">Here</a>

script.
  $(".btn.btn-primary").click(function(){
    $("#loginModal").modal('toggle')
  })