#myModal.modal.fade(tabindex="-1" role="dialog" area-labelledby="myModalLabel" aria-hidden="true")
	.modal-dialog(role="document")
		.modal-content
			.modal-header
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
				h4.modal-title#myModalLabel World Map
			.modal-body
				-var displayList = true
				include mapWidget
			.modal-footer
				-if(displayList == true)
					#mapCountryList