.slideshow-container
	.mySlides(style=" width:100%; height:400px; background:url('images/banner1.png') no-repeat center Top;").fadeSlide
		.numbertext 
		.textSlide Global Library of Worship
		.textSlideRight The ETHNOS2040 project is an <br class="medium-br">effort to document <br class="large-br">culturally <br class="medium-br">relevant, locally-sourced <br class="medium-br">worship <br class="large-br">arts from every <br class="medium-br">nation, tribe, and <br class="medium-br">tongue <br class="large-br">by 2040. <br class="medium-br">How are we <br class="medium-br">doing?<br><br><a id="mapClick" href="#">Click here to map our progress!</a>
		.textSlideBtm Learn | Inspire | Create
	.mySlides(style=" width:100%; height:400px; background:url('images/banner2.png') no-repeat center Top;").fadeSlide
		.numbertext 
		.textSlide Global Library of Worship
		.textSlideRight Traveling abroad? Planning a <br class="medium-br">missions trip?<br class="large-br"> Learning the <br class="medium-br">music of the local believers<br>before you go can help <br class="medium-br">you connect<br class="large-br">in powerful <br class="medium-br">ways. Search for local <br class="small-br">worship arts by <br class="medium-br">language,<br class="large-br">country, <br class="medium-br">or continent!<br><br><a href="search">Search Now!</a>
		.textSlideBtm Learn | Inspire | Create
	.mySlides(style=" width:100%; height:400px; background:url('images/banner3.png') no-repeat center Top;").fadeSlide
		.numbertext 
		.textSlide Global Library of Worship
		.textSlideRight Read the story of a new people <br class="medium-br">group who <br class="large-br">now “have a <br class="medium-br">voice before God.”<br><br><a href="news">Read Now!</a>
		.textSlideBtm Learn | Inspire | Create
	.mySlides(style=" width:100%; height:400px; background:url('images/banner4.png') no-repeat center Top;").fadeSlide
		.numbertext 
		.textSlide Global Library of Worship
		.textSlideRight GLOW is a web platform for <br class="medium-br">sharing and<br class="large-br">archiving songs, <br class="medium-br">visual art, and other <br class="large-br">worship <br class="medium-br">expressions and resources <br class="small-br">around the world. Read <br class="medium-br">more <br class="large-br">about what’s so <br class="medium-br">special <br class="large-br">about this <br class="medium-br">unique <br class="large-br">archive<br><br><a href="about">Read More!</a>
		.textSlideBtm Learn | Inspire | Create
	a.prevSlide(onclick="plusSlides(-1)") &#10094;
	a.nextSlide(onclick="plusSlides(1)") &#10095;
br
div(style="text-align:center")
	span.dot(onclick="currentSlide(1)")
	span.dot(onclick="currentSlide(2)")
	span.dot(onclick="currentSlide(3)")
	span.dot(onclick="currentSlide(4)")

script.
	var slideIndex = 1;
	var timer;
	showSlidesAuto(false);

	function plusSlides(n) {
	  showSlides(slideIndex += n);
	  clearTimeout(timer);
	  showSlidesAuto(false);
	}

	function currentSlide(n) {
	  showSlides(slideIndex = n);
	  clearTimeout(timer);
	  showSlidesAuto(false);
	}

	function showSlides(n) {
	  var i;
	  var slides = document.getElementsByClassName("mySlides");
	  var dots = document.getElementsByClassName("dot");
	  if (n > slides.length) {slideIndex = 1} 
	  if (n < 1) {slideIndex = slides.length}
	  for (i = 0; i < slides.length; i++) {
	      slides[i].style.display = "none"; 
	  }
	  for (i = 0; i < dots.length; i++) {
	      dots[i].className = dots[i].className.replace(" active", "");
	  }
	  slides[slideIndex-1].style.display = "block"; 
	  dots[slideIndex-1].className += " active";
	  
	}

	function showSlidesAuto(incrament) {
	    var i;
	    var slides = document.getElementsByClassName("mySlides");
	    var dots = document.getElementsByClassName("dot");
	    for (i = 0; i < slides.length; i++) {
	        slides[i].style.display = "none"; 
	    }
	    for (i = 0; i < dots.length; i++) {
	      dots[i].className = dots[i].className.replace(" active", "");
	  	}
	    
	    if(incrament == true)
	    	slideIndex++
	    if (slideIndex> slides.length) {slideIndex = 1} 
	    slides[slideIndex-1].style.display = "block";
	    dots[slideIndex-1].className += " active";
	    timer = setTimeout(function(){showSlidesAuto(true)}, 20000); // Change image every 2 seconds
	}