extends layout

block content
	include nav
	.container-fluid(style="padding:0")
		.columnContainer
			include widgets/leftColumnWidget
			
			#rightColumn(class='about')
				h1 ABOUT GLOW
				h3 GLOW—A Different Kind of Archive
				p Unlike traditional archives that are limited by stringent codes to protect information, GLOW is completely open source and open access!  While we believe that copyright concerns are important, we are primarily interested the dissemination of resources for the worshiping global church.  GLOW is a platform supported by and administered from the Multi-Ethnic Music Studies Department within Liberty University’s Center for Music and Worship. Because we are operated by an institution, we are not motivated by outside advertisers or financial gain. Our sole purpose is to see the worldwide church worshiping in spirit and truth, through artforms and languages that best represent and express our hearts.
				h3 The ETHNOS 2040 Project
				p The Global Library of Worship has set as our goal to document culturally relevant, locally-sourced worship from every nation, tribe, and tongue by 2040. We are calling this the ETHNOS2040 project. Why 2040? There’s nothing magical about that date, but we believe there is power in goal-setting and the synergy that can come from people working together to see growth and progress toward that goal. Each generation is responsible for making disciples in their world as it exists currently. We want to document traditional and contemporary expressions of worship for future generations, but also encourage the creation of new, relevant songs and worship artforms for worldwide use now!
				h3 How We Protect and Promote Artists
				p GLOW allows you to set the individual parameters for your songs/projects you upload. You can choose to label authorship or leave fields of information blank if unknown or sensitive. GLOW has been designed as a useful tool especially for creative access areas so that local worship music can be shared by individuals without having to disclose the voice behind the recording. Performers in high risk zones can also have others sing their songs on their behalf and upload them. 
				p We do not track IP addresses of submissions. The location of the songs source is chosen by the contributor. GLOW also allows for group authorship by community or church teams.  For original works or works being submitted on behalf of another, it allows the contributor to choose a creative commons license that allows them to operate ethically and allows them to set use parameters if the music or artwork is not currently licensed professionally. For artists and musicians hoping to sell product, we allow users to upload a link to outside sites for sales.
				p The only mandatory field required for uploads is “language." This is because, in addition to our own goal of tracking language specific worship, we are working alongside several educational institutions to strategically place ethnodoxologists in language groups with missing artistic voices. Logging in before submitting a song is not required but will allow the song to be connected with the contributor and will also allow the contributor to participate in open forums. 
				h3 We Need Your Songs!
				p Do you have a song from a specific language or people group that you could upload?  We need your help! Upload a song by following the link below and help us “check off” a language so that we can meet our goal of documenting worship from every language group on earth by 2040!
				a#aboutUploadLink(href="upload") Upload a song now!
				br
				br
				p For His Glory!<br>Dr. Katherine Morehouse
				p <b>Associate Professor of Ethnomusicology<br>Chair, Department of Multi-Ethnic Music<br>School of Music</b> 
				p#libertySigniture <b>LIBERTY UNIVERSITY</b>
				img(id="musicBuilding" src="/images/musicBuilding.PNG")


	include footer