extends layout

block content
	include nav
	.container-fluid(style="padding:0")
		.columnContainer
			include widgets/leftColumnWidget
			
			#rightColumn(class='about')
				h1 ABOUT GLOW
				h3 Our Goal
				p Our goal is to document culturally relevant, locally-sourced worship from every nation, tribe, and tongue by 2040. Unlike traditional archives that are limited by stringent codes that protect information, GLOW is completely open source and open access!  While we believe that piracy and copyright concerns are important, we are primarily interested the dissemination of resources for the worshiping global church. 
				h3 What is GLOW?
				p GLOW stands for Global Library of Worship
				p We seek to meet the needs of Christian artists all over the world while protecting their rights.
				p For artists, we want to provide a tool that allows you to share the content you create freely with people from the same background, ethnicity or language in a way that also protects your rights as a content creator.
				p For listeners and churches, we want to provide access to the content created by these artists so that you can worship freely in your language and with music from your culture.
				h3 Who is behind this?
				p GLOW is created, sponsored and maintained by Liberty University, the worlds largest Christian university.
				p Liberty University seeks to foster global worship initiatives by providing everyone with the same religious freedoms afforded to people in the United States.
				h3 How do I get started?
				p To find music and music resources, simply type in the search bar above. Tags include the name of the song, artist, publisher, and more.
				p To  upload, click "upload" next to the search bar and go through the steps until the process is finished. After the upload is verified by the moderators you will be able to watch, listen, read or share your content.
				
				 
				h3 How It Works
				p GLOW allows you to set the individual parameters for your songs/projects you upload. You can choose to label authorship or leave fields of information blank if unknown or sensitive. GLOW has been designed as a useful tool especially for creative access areas so that local worship music can be shared without having to be publicly known as the voice behind the recording. Performers in high risk zones can also have others sing your songs on your behalf and upload their versions of your song.  
				p The only mandatory field required for uploads is “language." 
				p We do not track IP addresses of submissions. The location of the songs source is chosen by the contributor. GLOW also allows for group authorship by community or church teams.  For original works or works being submitted on behalf of another, it allows the contributor to choose a creative commons license that allows them to operate ethically and allows them to set use parameters if the music or artwork is not currently licensed professionally. For artists and musicians hoping to sell product, we allow users to upload a link to outside sites for sales. 

				p Can you help us check off a language? Our goal is to document culturally relevant, locally-sourced worship from every nation, tribe, and tongue by 2040.

				a(href="upload") Upload a song now! 
				img(id="musicBuilding" src="/images/musicBuilding.png")


	include footer