#footer.container-fluid
	#footerContent.container
		.col-md-3
			.lu-monogram-footer
				a(href="http://www.liberty.edu")
					img(src="/images/LU-Monogram.svg")
		.col-md-3.verticalLine
			p 1971 University Blvd
			p Lynchburg, Va. 24515
			p Tel: (434) 582-2000
			p Contact Information
			p Chat
			p Live
		.col-md-3.verticalLine
			p 1971 University Blvd
			p Lynchburg, Va. 24515
			p Tel: (434) 582-2000
			p Contact Information
			p Chat
			p Live
		.col-md-3.verticalLine
			p 1971 University Blvd
			p Lynchburg, Va. 24515
			p Tel: (434) 582-2000
			p Contact Information
			p Chat
			p Live