nav.navigation
	.container-fluid.topNav
		.lu-monogram-nav
			a(href="http://www.liberty.edu")
				img(src="/images/LU-Monogram.svg")
		.glowLogo(style="width:100px").hidden-sm.hidden-xs.hidden-nav-logo
			a(href="/")
				img(style="width:100px" src="/images/logo2.large.png")
		.menu-icon
			.bar1
			.bar2
			.bar3
		.log
			-if(user)
				a.navItem.logout(href="/logout") Logout
				a.navItem.login(href="/profile")=user.local.firstName

			-else
				button(type="button" class="btn btn-primary loginButton navbar-btn" data-toggle="modal" data-target="#exampleModal")
					Launch Login
				include widgets/loginModal
				include widgets/registerModal
				include widgets/termsModal
		.title-nav
			.glowLogo(style="width:100px")
				a(href="/")
					img(style="width:100px" src="/images/logo2.large.png")
		.clearfix.visible-xs-block.visible-sm-block.visible-custom-block
		ul
			li
				form.searchBar(action="/search" method="GET")
					input.searchBarInput(type="text" placeholder="Search Music..." name="searchTerm")
					.searchIconContainer(style="background-color:#22334F;display:inline;padding:6.5px")
						input(type="image" style="height:20px;vertical-align:middle" src="/images/search-white.png" alt="Submit Form")
					//- input.navItem.search(type="submit" value="submit")
			li
				a.navItem(href="/upload") upload
			li
				a.navItem(href="/") account
			li
				a.navItem(href="/about") about
			li
				a.navItem(href="/") resources
	.container-fluid.bottomNav
		ul
			li
				a.navItemBottom(href="/news") News
			li
				a.navItemBottom(href="/") Forums
			li
				a.navItemBottom(href="/") Publishing Resources
			li
				a.navItemBottom(href="/") Contact Us
		#google_translate_element

script.
	$(".menu-icon").click(function(){
		$(this).toggleClass("change")
		$(".navigation ul").toggleClass("change")
		$(".navigation ul li").toggleClass("change")
	})
	function googleTranslateElementInit() {
	new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
	}