extends layout

block content
	include nav
	.container-fluid(style="padding:0")
		.columnContainer
			include widgets/leftColumnWidget
			
			#rightColumn(class='news')
				h1 News
				h3 A VOICE BEFORE GOD
				p Recently, a group of Liberty ethnomusicology and music education students took a trip to a country in East Asia to document the music of a single composer. This man (whose identity must remain anonymous for security reasons) was originally from a predominantly Muslim people group, but he had been a believer in Christ for several years. As he tells the story, one day he was worshiping and singing a song to God in a related language to his, but one that still felt foreign to him.  “I prayed ‘Please God, give someone a song in our language so that we can sing to you from our own hearts.’ But then God surprised me…He started giving me songs!” 
				p A group of students from Liberty University took a trip to East Asia where they helped this novice songwriter document a set of worship songs he had composed.  One day, after they made the effort to learn his songs and transcribed them in notation software for inclusion in a songbook, they called him for a meeting and said they had a surprise for him.  When he came into the room one student sat at the piano and the others sang his songs back to Him.  Knowing that these students had made the effort to sing to God in His language was an immeasurable gift to Him.  By putting themselves in the position of learners, an act of humility, they were able to show love to this man by showing his voice to be important. This is the work of ethnodoxology.
				p He cried. 
				p Then he said this stark phrase that rings in my ears—
				p “Never before have I heard other people besides myself sing praise to God in my own language…Now my people have a voice before God.” 
				p One question still haunted me and led in part to this project. What if other songs do exist in his language, but without his knowledge. Often remote or diasporic communities are not aware of each other’s music. How can we connect language speakers and their songs across continents and oceans? The goal of GLOW is that every language group will one day have a voice before God.  With GLOW operating as a central hub for collecting and archiving language specific worship resources, it is now possible for missionaries, short term aid workers, local songwriters, and ethnomusicologists to upload and search for music quickly, with every upload adding to the library of resources openly accessible worldwide to local worship leaders, students, missionaries, anthropologists, ethnodoxologists, scholars, artists, dancers, actors, etc.
				p GLOW allows you to set the parameters for your songs you upload. You can choose to label authorship or leave fields of information anonymous. You can also have others sing your songs on your behalf and upload their versions of your song. GLOW has been created as a useful tool especially for creative access areas so that local worship music can be shared without having to be publically known as the voice behind the recording. GLOW also allows for group authorship and allows the person submitting to choose a creative commons license that fits their needs if their music is not currently licensed professionally. For artists and musicians hoping to sell product, we allow users to upload a link to outside sites for sales.
				p.center Can you help us check off a language? Our goal is to document culturally relevant, locally-sourced worship from every nation, tribe, and tongue by 2040.
				p.center 
					a(href="upload") Upload a song now!
	include footer