extends layout

block content
	include nav

	.container
		.page-header.text-center
			h1 <span class="fa fa-anchor"></span> Profile Page
			a.btn.btn-default.btn-sm(href="/logout") Logout
		.row
			.col-sm-6
				.well
					h3 <span class="fa fa-user"> Local
					p=user._id
					br
					p=user.local.email
					br
					p=user.local.password

				.home
					a(href="/") Home
						

	include footer