extends layout



block content
	include nav
	#uploadContainer.container
		.row.success
			h1 Congratulations! You have successfully completed your upload!!!
			a(href="/") Click here to return to the homepage
		.row
			.container
				.col-xl-12.col-lg-12.col-md-12.colsm-12#helpImg
					img(src="images/concert.jpg")
					.overlay
						p#sentOne For tips, read up with the <a href="#">GLOW upload guide </a>.
						p#sentTwo Know which license to use? Read about the different <a href="#">licenses</a>.
						p#sentThree Find out what content is allowed <a href="#">here</a>.

	include footer