extends layout



block content
	include nav
	#uploadContainer.container
		.row
			form(id="bucket-form" action='/cover', method="post" enctype="multipart/form-data")
				.container
					.col-xl-2.col-lg-3.col-md-4.col-sm-12
						.outerBox
							input.fileSubmit.btn.innerBox(type="button" value="Upload")
						.inputItem.hidden
							input.inputField(type='text' name='filePath' value=filePath)
					.col-xl-10.col-lg-9.col-md-8.col-sm-12.contentSelection
						h3 SELECT ALBUM COVER TO UPLOAD
						h4.description 	SUPPORTED FILE FORMATS ARE: JPEG, PNG, GIF
						.inputItem
							input.inputField(type="file" id="inputFile" name="fileLocation" for="fileLocation")
						.blocked
		.row
			.container
				.col-xl-12.col-lg-12.col-md-12.colsm-12#helpImg
					img(src="images/concert.jpg")
					.overlay
						p#sentOne For tips, read up with the <a href="#">GLOW upload guide </a>.
						p#sentTwo Know which license to use? Read about the different <a href="#">licenses</a>.
						p#sentThree Find out what content is allowed <a href="#">here</a>.

	div.modal.fade#pleaseWaitDialog(data-backdrop="static",data-keyboard="false")
		div.modal-dialog
			div.modal-content
				div.modal-header
					h1 Uploading...
				div.modal-body
					div.progress
						div.progress-bar.progress-bar-striped.active(role="progressbar",aria-valuenow="100",aria-valuemin="0",aria-valuemax="100",style="width: 100%")
							span.sr-only 100% Complete

	include footer

	script.


		$('.fileSubmit').click(function(){
			var fileVal= $("#inputFile");
			if(fileVal.val() == ""){
				$('.blocked').empty().append($('<h3>Please Select a File.</h3>').hide().fadeIn(500));
			}else{
				$('#bucket-form').submit();
				$("#pleaseWaitDialog").modal('show');
			}
		})