/*#media .content{
	min-width: 700px;
}*/
#media .mediaHeader{
	padding-top: 10px;
	padding-bottom: 10px;
}
#media .title{
	font-size: 28px;
	font-weight: 700;
	display: inline;
}
#media .rightHeader{
	display: inline;
	font-size:16px;
	font-weight: 100;
	opacity: .75;
	padding-left: 10px;
}
#media .infoBox .title{
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 25px;
}

#media .mediaImage{
	/*height: auto;*/
	width: 100%;
	margin:0 auto;
	/*background-color: #282828;
	position: absolute;
	top:-25%;*/
}
#media .mediaInfo{
	margin-top: 10px;
}


.mediaInfo .views{
	font-size: 20px;
	color: #304A66;
	display:inline;
}
.mediaInfo .datePosted{
	font-size: 20px;
	color: #304A66;
	float:right;
	/*margin-left: 615px;*/
	/*margin-top: -35px;*/
	display:inline;
}
#media .description{
	margin-top:20px;
}
#media .rowItem{
	display:inline;
}
#media table{
	width:100%;
}





.related{
	font-size: 20px;
	margin-top: 40px;
}
.relatedContent .relatedItem{
	width: 100%;
	height: 60px;
	padding: 12.5px;
	text-decoration: none;
	color:#000;
}
.relatedContent .relatedSection{
	float:left;
	margin-bottom: 20px;
}
.relatedContent .imageContainer{
	width:105px;
	height: 60px;
	overflow:hidden;
	position:relative;
	display:inline;
	float:left;
	margin-top: 15px;
}
.relatedContent .relatedImage{
	height:auto;
	width: 105px;
	display: inline;
	float:left;
	position: absolute;
	top:-25%;
}

.relatedItem .itemInfo{
	min-width: 320px;
	height: 100%;
	float: left;
	display: inline;
	margin-left: 12.5px;
}
.relatedTitle{
	font-weight: bold;
	font-size: 15px;
	margin-top: -60px;
	margin-left: 110px;
}
.relatedArtist{
	font-size: 15px;
	margin-left: 110px;
}
.relatedContent{
	margin-top: 20px
}
.moreFromArtist{
	font-size: 20px;
}
.moreFromAlbum{
	font-size: 20px;
}