*{
	box-sizing:border-box;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
	color:white;
}
/* background image */
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
   filter: grayscale(100%);

   z-index: -2;
}

@media screen and (max-width: 960px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
/* end background image */


/*Footer*/
#footer{
	background-color: #222;
	height: auto;
}
#footerContent{
	display: flex;
	align-items: center;
	/*max-width: 980px;*/
	margin: 0 auto;
	padding: 50px 0;

}
.lu-monogram-footer{
	width: 75px;
	margin: 0 auto;

}
.lu-monogram-footer img{
	height: 75px;
}
.verticalLine{
	border-left: 1px solid #333333;
}
.verticalLine hr{
	display:none;
}
#footer p{
	color: #FFF;
}
/*End Footer*/

/* Media */
.center{
	text-align:center;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
@media screen and (max-width: 445px){
	#footerContent{
		display:block;
	}
	#footerContent .verticalLine{
		border:none;
	}
	.verticalLine hr{
	display:block;
}
}