#vmap{
	width: 1000px;
	height: 650px;
	background-color: rgba(255,255,255,0) !important;
}
.mapArea{
	max-width: 970px;
	/*height: 650px;*/
	margin: 0 auto;
}

#vmap.column{
	width: 150px;
	height: 97.5px;
	background-color: rgba(255,255,255,0) !important;
}
.mapArea.column{
	max-width: 970px;
	height: 97.5px;
	margin: 0 auto;
}

@media (min-width: 768px){
	.modal-dialog{
		width:1100px;
	}
}

#mapCountryList{
	float: left;
	width: 100%;
}
#mapCountryList a{
	color:#000;
	text-decoration: none;
}
#mapCountryList .mapListItem{
	/*display:inline-block;*/
	display: flex;
	width: 100%;
	justify-content:space-between;
}
#mapCountryList hr{

}