<<<<<<< HEAD
h1
{
	margin-top: 50px;
	margin-bottom: 50px;
	color:white;
	font-weight: bolder;
}
h2
{
	margin-left: 47.25%;
	margin-top: -10px;
	font-size: 18px;
	color: white;
}
.leftLine
{
	float:left;
	height:1px;
	width:45%;
	border-top:1px solid white;
}
.rightLine
{
	margin-top:-19px;
	margin-bottom: 50px;
	float:right;
	height:1px;
	width: 45%;
	border-top:1px solid white;
}
.leftInputBox
{
	border:5px solid white;
	background-color: #231F20;
	height: 30px;
	width: 48%;
	float:left;
	margin-left: -30px !important;
}
.rightInputBox
{
	border:5px solid white;
	background-color: #231F20;
	height: 30px;
	width: 48%;
	float:right;
}
.leftTitle
{
	margin-bottom: 10px;
	margin-left: -30px;
	font-size: 18px;
	color: white;
}
.rightTitle
{
	float: right;
	margin-bottom: 10px;
	margin-top: -30px;
	margin-right: 457px;
	font-size: 18px;
	color: white;
}
.thumbnail
{
	float: left;
	height: 100px;
	width: 180px;
	background-color: white;
}
.text
{
	margin-top: 90px;
	text-align: center;
	padding: 10px 20px;
	color: white;
}
=======
#uploadContainer{
	padding:30px;
}
#uploadContainer .inputItem{
	padding:15px 0px;
}
#uploadContainer .inputItem label{
	width: 150px;
}
#uploadContainer .submitButton{
	width: 150px;
}
.modal-header h1{
	color:#000;
}
.inputItem input[type=file]{
	display: inline-block;
}
.inputItem label{
	margin-right: 30px;
}
/*upload1*/
.outerBox{
	float:left;
	height:200px;
	width:200px;
	background-color: #E5E5E5;
	position:relative;
}
.innerBox{
	text-align: center;
	color: white;
	height: 45px;
	width:140px;
	background-color: #82A3D7;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	font-size: 25px;
	border-radius: 0px;
}
.innerBox:hover{
	color: #dddddd;
}
.innerBox h3{
	margin-top:10px;
}
.contentSelection{
	float:left;
	margin-left:20px;
}
#uploadContainer .contentSelection .inputItem label{
	margin-right: 10px;
	width: auto;
}
.contentSelection h4.description{
	margin-top:20px;
}
/*upload2*/
>>>>>>> almostMaster
