extends layout

block content
	include nav2
	.title Pillars of Smoke
	.songBox
	#views 190,032 views
	#datePosted July 17, 2016
	.infoBox
		.descriptionTitle Description
		.descriptionBox
			.descriptionText "By day the LORD went ahead of them in a pillar of cloud to guide them on their way and by night in a pillar of fire to give them light, so they could travel by day or night." -Exodus 13:21 (NIV)
			.descriptionText(style="margin-top: 10px;") In Exodus 13:17-18, the writer has declared that "God led the people;" he now explains how from Succoth certainly, probably from Ramses, He moved in front of the host in the form of a pillar, which had the appearance of smoke by day and of fire by night. The Israelites marched, it is implied, some part of each day and some part of each night, which would be in accordance with modern practice, and is an arrangement introduced to a get the march accomplished before the sun attains his full power. The pillar was at once a signal and a guide. When it moved, the people moved; when it stopped, they encamped (Exodus 40:36-38); where it went, they followed. It bore some resemblance to the fire and smoke signals which generals used when at the head of their armies (Lepsius, Denmäler, vol. ii., pl. 150, 2; Papyr. Anastas, 1; Q. Curt, Vit. Alex. v.2, &c), and indicated that God had constituted Himself the generalissimo of the host; but was altogether of a miraculous and abnormal character.
		.tagTitle Tag
		.tagBox
			.tags
				.artist Artist: Moses and Aaron
				.region Region: Palestine
				.producer Producer: Miriam
				.album Album: Exodus
				.language Language: Hebrew
				.genre Genre: Folks/Worship
				.uploadDate Upload Date: 06/17/2016
				.peopleGroup People Group: Hebrews, Israelites
				.category Category: Music
				.releaseDate Released: 06/17/2016
				.artForm Art Form: Audio
				.license License: Creative Commons
				.miscellaneous Miscellaneous: Ancient Hebrew, Tribal Worship, Moses, Aaron, Ramses, Smoke, Fire, Pillar, Red Sea, Biblical, Palestine Israel Hebrew, Hebrews, Good Music
	include footer
	.relatedContent
		.moreFromArtist More From Artist
			.container
				.relatedThumbnail(style="margin-top:20px !important;")
				.songTitle 40 Years
				.songArtist Moses and Aaron
				.relatedThumbnail
				.songTitle Milk and Honey
				.songArtist Moses and Aaron
				.relatedThumbnail
				.songTitle Mount Sinai
				.songArtist Moses and Aaron
		.related Related
			.container
				.relatedThumbnail(style="margin-top:20px !important;")
				.songTitle Yeha Noha
				.songArtist Sacred Spirit
				.relatedThumbnail
				.songTitle Yeha Noha
				.songArtist Sacred Spirit
				.relatedThumbnail
				.songTitle Yeha Noha
				.songArtist Sacred Spirit
				.relatedThumbnail
				.songTitle Yeha Noha
				.songArtist Sacred Spirit
				.relatedThumbnail
				.songTitle Yeha Noha
				.songArtist Sacred Spirit
				