extends layout

block content
	include nav

	h2.center deelip kumar - Love
	<audio class="center" controls>
		<source src="/media/deelipKumar-Love.mp3" type="audio/mpeg">
	</audio>
	br
	h2.center Michael Balonek - Sachcidananda Namo Namah
	<video class="center" width="400" controls="controls">
		<source src="/media/MichaelBalonek-SachcidanandaNamoNamah.ogg" type="video/ogg">
	</video>
	br
	include footer