nav.navigation
	.container
		.navbar-logo
			a(href="/")
				img(alt='Ethnos' src='images/ethnos-logo.png')
		ul
			li
				a(href="#") VISION
			li
				a(href="#") CATALOG
			li
				a(href="#") RESOURCES
			li
				a(href="#") TRAINING
			li 
				a(href="#") FORUM


