nav.navigation
	
	.container-fluid
		.lu-monogram-nav.hidden-xs
			a(href="http://www.liberty.edu")
				img(src="images/LU-Monogram.svg")
		.navbar-logo
			a(href='/')
				img(alt='Ethnos' src='images/ethnos-logo.png')
		.menu-icon
			.bar1
			.bar2
			.bar3
		ul
			li
				a(href="#") VISION
			li
				a(href="#") CATALOG
			li
				a(href="#") RESOURCES
			li
				a(href="#") TRAINING
			li 
				a(href="#") FORUM
			li.signIn
				a(href="#") SIGN IN
script.
	$(".menu-icon").click(function(){
		$(this).toggleClass("change")
		$(".navigation ul").toggleClass("change")
		$(".navigation ul li").toggleClass("change")
	})
