nav.navigation
	.container-fluid.topNav
		.lu-monogram-nav.hidden-xs
			a(href="http://www.liberty.edu")
				img(src="/images/LU-Monogram.svg")
		.navbar-logo
			a(href='/')
				img(alt='Ethnos' src='images/LU-Monogram.svg')
		.menu-icon
			.bar1
			.bar2
			.bar3
		form.searchBar
			input.searchBarInput(type="text" placeholder="Search Music...")
		a.navItem(href="/upload") upload
		a.navItem(href="/") account
		a.navItem(href="/") about
		a.navItem(href="/") resources
		include widgets/loginModal

.container-fluid.bottomNav
	a.navItemBottom(href="/") News
	a.navItemBottom(href="/") Forums
	a.navItemBottom(href="/") Publishing Resources
	a.navItemBottom(href="/") Contact Us

script.
	$("#loginButton").click(function(){
	debugger;
		$(".loginModal").addClass('show')
		//- $(".loginModal").getElementsByClassName("close")[0]
	})
	$(".menu-icon").click(function(){
		debugger;
		$(this).toggleClass("change")
		$(".navigation ul").toggleClass("change")
		$(".navigation ul li").toggleClass("change")
	})