nav.navigation
	a(href="http://www.liberty.edu").lu-monogram-nav
		img(src="images/LU-Monogram.svg")
	.container
		.navbar-logo
			a(href="/")
				img(alt='Ethnos' src='images/ethnos-logo.png')
		ul
			li
				a(href="#") VISION
			li
				a(href="#") CATALOG
			li
				a(href="#") RESOURCES
			li
				a(href="#") TRAINING
			li 
				a(href="#") FORUM