nav.navigation
	.container-fluid.topNav
		.lu-monogram-nav.hidden-xs
			a(href="http://www.liberty.edu")
				img(src="/images/LU-Monogram.svg")
<<<<<<< HEAD
		.navbar-logo
			a(href='/')
				img(alt='Ethnos' src='images/LU-Monogram.svg')
		.menu-icon
			.bar1
			.bar2
			.bar3
		ul
			li
				a(href="#") VISION
			li
				a(href="#") CATALOG
			li
				a(href="#") RESOURCES
			li
				a(href="#") TRAINING
			li 
				a(href="#") FORUM
			li.signIn
				a(href="#") SIGN IN
script.
	$(".menu-icon").click(function(){
		$(this).toggleClass("change")
		$(".navigation ul").toggleClass("change")
		$(".navigation ul li").toggleClass("change")
	})
=======
		form.searchBar
			input.searchBarInput(type="text" placeholder="Search Music...")
		a.navItem(href="/upload") upload
		a.navItem(href="/") account
		a.navItem(href="/") about
		a.navItem(href="/") resources
		a.navItem.login(href="/login") login
		//- .user
	.container-fluid.bottomNav
		a.navItemBottom(href="/") News
		a.navItemBottom(href="/") Forums
		a.navItemBottom(href="/") Publishing Resources
		a.navItemBottom(href="/") Contact Us
>>>>>>> almostMaster
