extends layout

block content
	img.bg(src='/images/concert.jpg')
	include nav
	.container
		#search.row
			p.searchHeader Search

			.rowSelect
				.col-md-4
					.inputHeader Keywords
					input.searchInput(type='text')
				.col-md-4
					.inputHeader Language
					select.searchInput
			.rowSelect
				.col-md-4
					.inputHeader Art Form
					select.searchInput
				.col-md-4
					.inputHeader Genre
					select.searchInput
			button SEARCH
			hr