extends layout

block content
	include nav
	.container-fluid.index
		.container
			#search
				p.searchHeader Search
				-var testData=['Music','Other','test']
				.rowSelect
					.column(style="width: 350px")
						.inputHeader Keywords
						input.searchInput(type='text')
					.column(style="width: 350px")
						.inputHeader Language
						select.searchInput(data=testData)
							-for(var i = 0; i < testData.length; i++)
								option.searchOption(value=testData[i])=testData[i]
				.rowSelect
					.column(style="width: 350px")
						.inputHeader Art Form
						select.searchInput
					.column(style="width: 350px")
						.inputHeader Genre
						select.searchInput
				button.searchButton SEARCH
				hr

			#searchResults
				.result
					.artwork
					p.title MEZMUR 19
					p.artist Turkish, Song
				.result
					.artwork
					p.title MEZMUR 19
					p.artist Turkish, Song
				.result
					.artwork
					p.title MEZMUR 19
					p.artist Turkish, Song