extends layout



block content
	include nav
	style.
		.inputItem label{
			margin-right: 30px;
		}
		.inputItem input[type=file]{
			display: inline-block;
		}
	#uploadContainer.container(style="padding:30px")
		.row
			h2 Upload
			form(id="bucket-form" action='/testPost', method="post" enctype="multipart/form-data")
				.inputItem
					label File
					input.inputField(type="file" name="fileLocation" for="fileLocation")
					input.fileSubmit.btn.btn-success(type="submit" value="Upload")
			
	div.modal.fade#pleaseWaitDialog(data-backdrop="static",data-keyboard="false")
		div.modal-dialog
			div.modal-content
				div.modal-header
					h1 Processing...
				div.modal-body
					div.progress
						div.progress-bar.progress-bar-striped.active(role="progressbar",aria-valuenow="100",aria-valuemin="0",aria-valuemax="100",style="width: 100%")
							span.sr-only 100% Complete

	include footer

	script.

		$('.fileSubmit').click(function(){
			$("#pleaseWaitDialog").modal('show');
		})


		//- $('.submitButtonSSSSS').click(function(){
		//- 	$('#bucket-form').submit();
		//- 	$("#pleaseWaitDialog").modal('show');
		//- 	var submitObj = {}
		//- 	var bucketPath = 'https://s3.us-east-2.amazonaws.com/ethnosgw/';
		//- 	$('.inputField').each(function(){
		//- 		if($(this).is('select')){
		//- 			submitObj[$(this).attr('name')] = $(this).val()
		//- 		}
		//- 		else if($(this).attr('type') == "file"){
		//- 			var fileName = /[^\\]*$/g.exec($(this).val())
		//- 			var fileLocation = bucketPath + fileName;
		//- 			submitObj[$(this).attr('name')] = fileLocation;
		//- 		}
		//- 		else if($(this).attr('type') == "checkbox"){
		//- 			submitObj[$(this).attr('name')] = ($(this).is(':checked')) ? true : false;
		//- 		}else{
		//- 			submitObj[$(this).attr('name')] = $(this).val();
		//- 		}
		//- 	})
		//- 	$.ajax({
		//- 		type: "POST",
		//- 		url: "/uploadContent",
		//- 		data: submitObj,
		//- 		success: function(data){
		//- 			if(data.success){
		//- 				$('#pleaseWaitDialog').modal('hide')
		//- 				$("#uploadContainer").addClass('hidden')
		//- 				$("#successContainer").removeClass('hidden')
		//- 			}
		//- 		},
		//- 		dataType: "json"
		//- 	});
		//- })